<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blubb.alubb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".blubbbasics.BlubbApplication"
        android:allowBackup="true"
        android:icon="@drawable/blubb_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".blubbbasics.ActivityLogin"
            android:label="@string/activity_login_title_text"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".blubbbasics.ActivityThreads"
            android:label="@string/activity_threads_title_text"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".blubbbasics.ActivityMessages"
            android:label="@string/activity_messages_title_text"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".blubbbasics.ActivitySettings"
            android:label="@string/activity_settings_title_text" />

        <service
            android:name=".blubbbasics.PullService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/blubb_logo"
            android:label="@string/service_message_pull_label_text"
            tools:ignore="ExportedService" />

    </application>

</manifest>
