<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blubb.alubb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.blubb.alubb.blubbbasics.BlubbApplication"
        android:allowBackup="true"
        android:icon="@drawable/blubb_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.blubb.alubb.blubbbasics.BlubbLoginActivity"
            android:label="@string/title_activity_blubb_login"></activity>
        <activity
            android:name="com.blubb.alubb.blubbbasics.ThreadOverview"
            android:label="@string/title_activity_thread_overview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blubb.alubb.blubbbasics.SingleThreadActivity"
            android:label="@string/title_activity_single_thread"></activity>
        <activity
            android:name="com.blubb.alubb.blubbbasics.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>

        <service
            android:name="com.blubb.alubb.beapcom.MessagePullService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/blubb_logo"
            android:label="@string/service_message_pull_name"></service>

    </application>
</manifest>
